<header data-elementor-type="header" data-elementor-id="51" class="elementor elementor-51 elementor-location-header" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-149de6ef elementor-section-full_width elementor-section-height-min-height elementor-section-items-stretch elementor-section-height-default" data-id="149de6ef" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-38715bac" data-id="38715bac" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-5c1cc4a elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="5c1cc4a" data-element_type="widget" data-widget_type="theme-site-logo.default">
				<div class="elementor-widget-container">
											<a href="/">
			<img width="479" height="503" src="/assets/images/2026/07/moka-tunde-adl-logo.png" class="attachment-full size-full wp-image-895" alt="Moka Tünde ADL Ingatlan logó" />				</a>
											</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-75 elementor-top-column elementor-element elementor-element-5d0ff31b" data-id="5d0ff31b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3a93f7ef elementor-nav-menu__align-center elementor-nav-menu--stretch elementor-nav-menu__text-align-center elementor-nav-menu--dropdown-tablet elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="3a93f7ef" data-element_type="widget" data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-caret-down\&quot; aria-hidden=\&quot;true\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
								<nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
<ul id="menu-1-3a93f7ef" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-59"><a href="/" class="elementor-item">Kezdőlap</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1100"><a href="/ingatlanok/" class="elementor-item has-submenu">Ingatlanok<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101"><a href="/ingatlanok/pest-megyei-ingatlanok/" class="elementor-sub-item">Budapest</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="/ingatlanok/balatoni-ingatlanok/" class="elementor-sub-item">Balaton</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/ingatlanok/spanyol-ingatlanok/" class="elementor-sub-item">Spanyolország</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-58"><a href="/szolgaltatasok/" class="elementor-item has-submenu">Szolgáltatások<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-581"><a href="/szolgaltatasok/#eladas" class="elementor-sub-item">Eladás</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-582"><a href="/szolgaltatasok/#vasarlas" class="elementor-sub-item">Vásárlás</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-583"><a href="/szolgaltatasok/#berbeadas" class="elementor-sub-item">Bérbeadás</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="/szolgaltatasok/#beruhazoknak" class="elementor-sub-item">Beruházóknak</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="/rolam/" class="elementor-item">Rólam</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-626"><a href="/blog/" class="elementor-item has-submenu">Blog<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6261"><a href="/blog/" class="elementor-sub-item">Cikkek</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14843"><a href="/magazin/" class="elementor-sub-item">ADL magazin</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14843"><a href="/magazin/" class="elementor-item">ADL magazin</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="/referenciak/" class="elementor-item">Referenciák</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="/kapcsolat/" class="elementor-item">Kapcsolat</a></li>
</ul>			</nav>
					<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
			<i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>		</div>
					<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
<ul id="menu-2-3a93f7ef" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-59"><a href="/" class="elementor-item" tabindex="-1">Kezdőlap</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1100"><a href="/ingatlanok/" class="elementor-item has-submenu" tabindex="-1">Ingatlanok<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101"><a href="/ingatlanok/pest-megyei-ingatlanok/" class="elementor-sub-item" tabindex="-1">Budapest</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="/ingatlanok/balatoni-ingatlanok/" class="elementor-sub-item" tabindex="-1">Balaton</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/ingatlanok/spanyol-ingatlanok/" class="elementor-sub-item" tabindex="-1">Spanyolország</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-58"><a href="/szolgaltatasok/" class="elementor-item has-submenu" tabindex="-1">Szolgáltatások<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-581"><a href="/szolgaltatasok/#eladas" class="elementor-sub-item" tabindex="-1">Eladás</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-582"><a href="/szolgaltatasok/#vasarlas" class="elementor-sub-item" tabindex="-1">Vásárlás</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-583"><a href="/szolgaltatasok/#berbeadas" class="elementor-sub-item" tabindex="-1">Bérbeadás</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="/szolgaltatasok/#beruhazoknak" class="elementor-sub-item" tabindex="-1">Beruházóknak</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="/rolam/" class="elementor-item" tabindex="-1">Rólam</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-626"><a href="/blog/" class="elementor-item has-submenu" tabindex="-1">Blog<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6261"><a href="/blog/" class="elementor-sub-item" tabindex="-1">Cikkek</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14843"><a href="/magazin/" class="elementor-sub-item" tabindex="-1">ADL magazin</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14843"><a href="/magazin/" class="elementor-item" tabindex="-1">ADL magazin</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="/referenciak/" class="elementor-item" tabindex="-1">Referenciák</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="/kapcsolat/" class="elementor-item" tabindex="-1">Kapcsolat</a></li>
</ul>			</nav>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-66c6a4b5" data-id="66c6a4b5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-widget elementor-widget-html" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<nav class="adl-header-social" aria-label="Közösségi oldalak">
						<a href="https://www.facebook.com/mokatunde.ingatlanertekesito" target="_blank" rel="noopener" aria-label="Facebook">
							<i aria-hidden="true" class="fab fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/tunde.moka?igsh=Nm96bWZxbTlicXl1&amp;utm_source=qr" target="_blank" rel="noopener" aria-label="Instagram">
							<i aria-hidden="true" class="fab fa-instagram"></i>
						</a>
						<a href="https://www.tiktok.com/@moka.tunde?_r=1&amp;_t=ZN-97vJBFYA47G" target="_blank" rel="noopener" aria-label="TikTok">
							<i aria-hidden="true" class="fab fa-tiktok"></i>
						</a>
					</nav>
				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</header>
